{% extends "blog/post/base.html" %}
{% load blog_tags %}
{% block title %}My Blog{% endblock %}
{% block content %}
  <h1>My Blog</h1>
  {% if tag %}
      <h2>Posts taged with "{{ tag.slug }}"</h2>
  {% endif %}
  {% for post in posts %}
    <h2>
      <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
        <p class="tags">Tags: {{ post.tags.all|join:", " }}</p>

      </a>
    </h2>
    <p class="date">
      Published {{ post.publish }} by {{ post.author }}
    </p>
{#    {{ post.body|truncatechars:20|linebreaks }}#}
   {{ post.body|markdown|truncatechars_html:30 }}

  {% endfor %}
  {% include 'blog/post/paginator.html' with page=posts %}

{#    当使用类视图时#}
{#  {% include 'blog/post/paginator.html' with page=page_obj %}#}
{% endblock %}
