{% extends "base.html" %}
{% load static %}

{% block title %}
  AppIndex
{% endblock %}


{% block breadcrumb %}
  <li><a href="#">app</a></li>
  <li><a href="#">index</a></li>
{% endblock %}

{% block content %}
  <div class="row col-md-12">
    <div class="box">
      <div class="box-header">
        <span>header</span>
      </div>
      <div class="box-body">
        main
      </div>
    </div>

    <div class="well">
      <div>
        well div

      </div>
    </div>

    <div class="panel panel-defaultn">
      <div class="panel-heading">
        header
      </div>
      <div class="panel-body">
        body
      </div>
    </div>
  </div>
{% endblock %}


{% block footer_script %}
  <script>

    $("#app_menu").addClass("menu-open active");
    $("#menu_app1").addClass("active");
    $(function () {
        layer.msg("index");
    });
  </script>
{% endblock %}



